

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
  }


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s linear infinite;
}









@keyframes bounceUpToCenter {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounceUpToCenter {
  animation: bounceUpToCenter 0.8s ease-out forwards;
}




body{overflow-x: hidden}



